{%  extends 'util/noSideBase.html' %}
{%  load static %}
{% block title %}
    <title>홈페이지 대문</title>
{% endblock %}

{% block main_area %}

    <h1>상명대학교 컴퓨터과학과전용 포럼입니다.</h1>

    <div class="sangmyung">
        <img src="{% static "images/Sangmyung.png" %}" alt="" width="898px">
    </div>

    <h3> 아래의 버튼을 통해 원하는 포럼으로 입장할 수 있습니다.</h3>

    <div class="button-box">
        {% for c in Categories %}
            <a class="main_button_1" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% endfor  %}
    </div>

    <div class="recent_forum_box">
        <img src="{% static "images/sumung.png" %}" alt="" width="898px">
    </div>



    <div class="recent_forum_box">
    <h1> 최근 포럼글들</h1>
    {% for forumPost in recent_posts %}
        <h3>포럼 제목: [{{ forumPost.status }}]{{ forumPost.title }}</h3>
        <h5>내용 미리 보기: {{ forumPost.get_content_markdown | truncatewords:10 |safe}}</h5>
    {% endfor %}
    </div>
{% endblock %}