{% extends 'util/base.html' %}

{% block title %}
    <title>Forums</title>
{%  endblock %}

{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/forums/create_post/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
        {% endif %}
    {% endif %}

    {% if category %}
        <h1>{{ category }} Forums</h1>
    {% endif %}
    {% if tag %}
        <h1> Forums with tag '{{ tag }}'</h1>
    {%  endif %}

    {% for f in forumpost_list %}
                <!-- Forum Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ f.title }}</h2>
                        {% if f.hook_msg %}
                            <p class="card-text">{{ f.hook_msg }}</p>
                        {% else %}
                            <p class="card-text">{{ f.get_content_markdown | truncatewords_html:30 |safe }}</p>
                        {% endif %}
                        <a href="{{ f.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                        {% if p.tags.exists %}
                            <br />
                        <i class = "fas fa-tags"></i>
                        {%  for tag in f.tags.iterator %}
                            <a href= {{ tag.get_absolute_url }}> {{ tag }}</a>
                            {% endfor %}
                            <br />
                            <br />
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ f.created_at}} by
                        <a href="#"> {{ f.author }}</a>
                    </div>
                </div>
                {% endfor %}


                <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
{% endblock %}