{% extends 'util/base.html'%}
{% load crispy_forms_tags %}
{% block title %}
    <title>Forum-{{ forumpost.title }}</title>
{%  endblock %}

        {% block main_area %}
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">[{{ forumpost.status }}]{{ forumpost.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ forumpost.author }}</a>

        </p>

        <hr>
        {% if user.is_authenticated and user == forumpost.author %}
                <a class="btn btn-info btn-sm float-right" href="/forums/update_post/{{ forumpost.pk }}" role="button">
                    <i class="fas fa-pen"></i>&nbsp;&nbsp;포럼글 수정</a>
            {% endif %}
        <!-- Date/Time -->
        <p>Posted on {{ forumpost.created_at }}</p>

      <!-- Preview Image -->
      <!-- 이미지가 있다면 이미지 출력 그렇지 않으면 이미지를 출력하지 않음-->
          {% if forumpost.content_image %}
            <img class="img-fluid rounded" src="{{  forumpost.content_image.url }}"alt="" width="400">
          {% endif %}
        <hr>

        <!-- Post Content -->
        <p>{{ forumpost.get_content_markdown | safe }}</p>

        {% if forumpost.attached_file %}
          <a href="{{ forumpost.attached_file.url }}" type="button" class="btn btn-outline-dark" download>첨부 파일 다운로드</a>
            {{ forumpost.get_file_name }}
        {% endif  %}

        <hr>
        {% if forumpost.tags.exists %}
                            <br />
                        <i class = "fas fa-tags"></i>
                        {%  for tag in forumpost.tags.iterator %}
                            <a href= {{ tag.get_absolute_url }}> {{ tag }}</a>
                            {% endfor %}
                            <br />
                            <br />
                        {% endif %}

          <h3>작성자 정보</h3>
          <p>
              이름: {% if user.get_name %}
                {{ user.get_name }}
                    {% else %}
                (공란)
                {% endif %}<br />
              닉네임: {% if user.get_nickname %}
                {{ user.get_nickname }}
                    {% else %}
                (공란)
                {% endif %}<br />
              학번: {% if user.studentId %}
                {{ user.studentId }}
                    {% else %}
                (공란)
                {% endif %}<br />
              원하는 분야: {% if user.desiredField %}
                {{ user.desiredField }}
                    {% else %}
                (공란)
                {% endif %}<br />
              전화번호: {% if user.get_phoneNumer %}
                {{ user.get_phoneNumer }}
                    {% else %}
                (공란)
                {% endif %}<br />
              이메일: {% if user.get_user_email %}
                {{ user.get_user_email }}
                    {% else %}
                (공란)
                {% endif %}<br />
      </p>

      </div>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="post" action=" {{ forumpost.get_absolute_url }}addComment/">
                {% csrf_token %}
                {{  comment_form | crispy }}
              <div class="form-group">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
      {% if forumpost.comment_set.exists %}
        {% for comment in forumpost.comment_set.iterator %}
        <div class="media mb-4">
{#           <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
          <div class="media-body" id = "comment-{{ comment.pk }}">
            <h5 class="mt-0">{{ comment.author }} {{ comment.created_at }}</h5>
              <p>{{ comment.content }}</p>
          </div>
        </div>
          {% endfor %}
      {% endif %}
      </div>
        {%  endblock %}
